$primary--color: #BB2339;
$section-color: #f4f4f4;
$text--color: #ffffff;
$milk--color: #aaaaaa;
$dark--color: #000000;
$dark--blue: #242424;
$black--none: #333333;

$font--pro-regular: "CeraRoundPro-Regular", sans-serif;
$font--pro-bold: "CeraRoundPro-Bold", sans-serif;
$font--pro-medium: "CeraRoundPro-Medium", sans-serif;
$font--open-regular: "OpenSans-Regular", sans-serif;
$font--open-semibold: "OpenSans-SemiBold", sans-serif;
$font--open-bold: "OpenSans-Bold", sans-serif;
$font--inter-regular: "Inter-Regular", sans-serif;
$font--inter-semibold: "Inter-SemiBold", sans-serif;
$font--roboto-regular: "Roboto-Regular", sans-serif;



