// .container {
//     /* 1600-(160*2)=1600-320-(20*2)=1240 */
//     width: min(100% - 20px, 1280px);
//     margin-inline: auto;
//   }

.container {
  max-width: 1280px;
  padding: 0px 20px;
  margin: 0 auto;
  box-sizing: border-box;
}
