@use "../abstracts/mixins" as mix;
@use "../abstracts/variables" as var;

#nav {
  padding: 50px 0px;
  background-color: var.$primary--color;
  overflow: hidden;
  transition: 0.4s;

  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;

  .nav-container {
    @include mix.df-jcsb-aic;

    .nav-right {
      @include mix.df-jcsb-aic;
      column-gap: 40px;
      font-family: var.$font--open-regular;
      font-weight: 500;
      font-size: 16px;

      ul {
        @include mix.df-jcsb-aic;
        column-gap: 40px;

        a {
          color: var.$text--color;
          opacity: 0.7;
          transition: 0.5s;

          &:hover {
            color: var.$text--color;
            opacity: 1;
          }
        }
      }

      .nav-btn {
        font-family: var.$font--open-semibold;
        font-weight: 600;
        font-size: 16px;
        line-height: 175%;
        letter-spacing: 0.05em;
        text-transform: capitalize;
      }
    }
  }
}

@media (min-width: 730px) {
  .menu-icon,
  .nav-mobile {
    display: none;
  }
}

@media (max-width: 730px) {
  .nav-right {
    a,
    li,
    button {
      display: none;
    }
  }
}
