@use "../global";
@use "../abstracts/mixins" as mix;
@use "../abstracts/variables" as var;

.menu-header {
    width: 400px;
    position: absolute;
    top: -120px;
    left: 30px;
  a,span {
    font-family: var.$font--pro-medium;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.03em;
    text-transform: capitalize;
    color: #b0b0b0;
    &:hover {
        color: var.$primary--color;
    }
  }
}

@media (min-width: 300px) {
  #menu-section {
    position: relative;
    .all-menu__row {
      @include mix.dg-gtc-1;
      column-gap: 40px;
      row-gap: 40px;
      margin-bottom: 40px;
      justify-content: center;
    }
  }

  #menu-section {
    padding: 300px 0px;

    .menu-container {
        position: relative;

      @include mix.df-fdc;
      row-gap: 50px;
      align-items: center;
      justify-content: space-between;

      .menu-top {
        @include mix.df-fdc;
        row-gap: 60px;
        max-width: 428px;
        width: 80%;
        margin-right: 0px;

        max-height: 844px;
        padding: 50px 40px;
        background-color: var.$primary--color;
        border-radius: 20px;

        .menu-header {
          @include mix.df-jcsb-aic;
        }

        .menu-btn_box {
          flex-direction: column;
          row-gap: 30px;

          h2 {
            font-family: var.$font--pro-medium;
            font-weight: 500;
            font-size: 40px;
            line-height: 54px;
            text-transform: capitalize;
            color: var.$text--color;
          }

          a {
            border: 1px solid var.$text--color;
            color: var.$text--color;
            text-transform: uppercase;

            &:hover {
              background-color: var.$text--color;
              color: var.$dark--blue;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 630px) {
  .menu-container {
    flex-direction: row !important;
    row-gap: 50px;
    align-items: normal !important;
  }

  .menu-top {
    margin-right: 40px !important;
    width: 40%;
  }
}

@media (min-width: 910px) {
  #menu-section {
    .all-menu__row {
      @include mix.dg-gtc-2;
      justify-content: space-between;
      margin-bottom: 40px;
    }
  }
}
